<app-header></app-header>
<div id="catalogoContainer">
  <ng-container *ngIf="juegos">
    <div
      *ngFor="let juego of juegos"
      class="cardContainer"
      routerLink="catalogo/juegos/{{ juego.juegoId }}"
      role="link"
    >
      <div class="card text-white bg-secondary">
        <img
          class="card-img-top"
          src="{{ juego.thumbnail }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">
              {{ juego.title }}
            </h5>
            <span class="badge rounded-pill bg-info">{{ juego.genre }}</span>
          </div>
          <p class="card-text">{{ juego.short_description }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
