<div class ="filtro">
  <h3>Filter</h3>
  <form [formGroup]="form">
    <label>Title</label>
    <input [type]="'text'" [id]="'title'" [formControlName]="'title'">
    <label>Genre</label>
    <input [type]="'text'" [id]="'genre'" [formControlName]="'genre'">
    <label>Year of Departure</label>
    <input [type]="'number'" [id]="'year'" [formControlName]="'year'" min="2000">
    <br><br>
    <div class="buttons">
      <button (click)="submitForm()">Filter</button>
      <button (click)="cancelForm()">Cancel</button>
    </div>
  </form>
</div>
