<br><br>
<div id="dFiltrosBtn">
    <div class="dFiltro">
        <label>Titulo:  <input type="text" placeholder="Nombre del juego" id="inpNjuego"></label>
        <label>Genero:
            <div class="form-group">
                
            </div>
            <select name="selGenero" id="selGenero">
                <option value="Shooter">Shooter</option>
                <option value="MMORPG">MMORPG</option>
                <option value="3D">3D</option>
                <option value="Sports">Deportes</option>
            </select></label>
        <label>Plataforma:
            <select name="selPlataform" id="selPlataform">
                <option value="browser">Navegador</option>
                <option value="PC">PC</option>
            </select>
        </label>
        <label>Fecha de lanzamiento:  <input type="date" placeholder="Nombre del juego" id="inpNjuego"></label>
    </div>
    <div id="dBtnFiltrar">
        <button id="btnFiltrar">Filtrar</button>
    </div>
</div><br>
<div id="dJuegos">

</div>
<br><br>