#catalogoContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap

.cardContainer
  padding: 4px

.thumbnail
  height: 17vh
  width: 17vw

.title
  text-align: center

.title
  a
    text-decoration: none
    color: white

.title
  a:hover
    text-decoration: underline

.mat-card
  background-color: grey
  border: 2px solid black
