#dFiltrosBtn
    padding: 2%
    border-radius: 10px
    width: 80%
    margin: auto
    background-color: #353434
    color: white
    .dFiltro
        width: 75%
        margin: auto
        display: flex
        justify-content: space-around
        align-items: center
        input
            border: 0
            width: 150px
            height: 30px
            border-radius: 10px
        input:hover
            transform: scale(1.1)
        select
            border: 0
            width: 150px
            height: 30px
            border-radius: 10px
    #dBtnFiltrar
        display: flex
        justify-content: space-around
        align-items: center
        margin-top: 2%
        #btnFiltrar
            transition: 0.3s
            width: 50px
            height: 30px
            border-radius: 10px
            border: 0
            cursor: pointer
            &:hover
                transform: scale(1.3)
                color: white
                background-color: blue
#dJuegos
    padding: 2%
    border-radius: 10px
    height:900px
    width: 80%
    margin: auto
    background-color: #353434
    color: white
