<div class="background">
  <div class="container">
    <div class="form">
      <form class="login-form">
        <input type="text" name="E-mail" [formControl]="email" placeholder="E-mail" />
        <input type="password" name="password" [formControl]="password" placeholder="Password" />
        <button type="button" class="btn" (click)="submitForm()">Login</button>
        <p class="message">
          New User?<a routerLink="/register" routerLinkActive="active">
            Sign in</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
