<div class="background">
  <div class="container">
    <div class="form">
      <form action="#" class="login-form">
        <input type="text" name="E-mail" placeholder="E-mail" />
        <input type="text" name="password" placeholder="Password" />
        <button type="submit" class="btn" (click)="showError()">Login</button>
        <p class="message">
          New User?<a routerLink="/register" routerLinkActive="active">
            Sign in</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
