<nav>    
    <ul>
        <li><img src="../../assets/imgs/pngtree-neon-style-gamepad-png-image_2361342.png"></li>
        <li class="lOpciones" routerLink="/inicio" routerLinkActive="active" role="link">
            <h1 >Inicio</h1>
        </li>
        <li class="lOpciones" routerLink="/catalogo" routerLinkActive="active" role="link">
            <h1 >Catalogo</h1>
        </li>
        <li class="lOpciones" routerLink="/mis-juegos" routerLinkActive="active" role="link">
            <h1>Mis juegos</h1>
        </li>
    </ul>
</nav>