<app-menu></app-menu>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- {{title}}

<button (click)="f1()">d</button>
<input type="text" [(ngModel)]="title">

<router-outlet></router-outlet>
<p *ngIf="title=='0'">holahola</p>
<p *ngFor="let p of array">{{p}}</p>

<ng-container *ngIf="title=='1'; then bloque1 else bloque2">
</ng-container>
<ng-template #bloque1>
  Bloque 1
</ng-template>
<ng-template #bloque2>
  Bloque 2
</ng-template>


<ng-container *ngFor="let p of array">
  {{p}}
</ng-container>


<ng-container *ngFor="let p of array ">
  <p [innerHTML]="p"></p>
  <img [src]="p" alt="">
  <img src="{{p}}" alt="">
</ng-container> -->